*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Cinzel-Medium';
    src: url(fonts/Cinzel-Medium.ttf);
}

@font-face{
    font-family: 'Oswald-Medium';
    src: url(fonts/Oswald-Medium.ttf);
}


body{
    background-image: url(1059910.jpg);
    background-size: cover;
}

header{
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header{
    background-color: #202020ea;
    color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.top h1{
    font-size: 50px;
    font-family: 'Cinzel-Medium';
}

.wowlogo img{
    height: 60px;
}

.low{
    background-color: #242424e7;
    border-top: 1px solid rgb(156, 156, 156);
}

.low ul{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-wrap: nowrap;
}

.low a{
    background-color: #181818;
    text-decoration: none;
    display: flex;
    color: rgb(211, 211, 211);
    padding: 17px 140px;
    border: 3px solid rgb(116, 116, 116);
    flex-wrap: nowrap;
    font-size: 20px;
    font-family: 'Oswald-Medium';
}

.low a:hover{
    transition-duration: 0.2s;
    background-color: #242424;
    border: 3px solid rgb(172, 146, 0);
    color: rgb(199, 169, 0);
}





section{
    width: 80%;
    height: fit-content;
    background-color: #1f1914da;
    position: absolute;
    left: 0;
    right: 0;
    top: 260px;
    bottom: 0;
    margin: auto;
    color: #ffffff;
    border: 3px solid rgb(116, 116, 116);
    animation: animation 1s ease-in-out;
}

@keyframes animation{
    0%{
        clip-path: inset(0 100% 0 0);
    }

    100%{
        clip-path: inset(0 0 0 0);
    }
}


.intro{
    margin: 60px auto;
    width: 60%;
    height: fit-content;
    font-size: 25px;
}

.card{
    width: 80%;
    height: fit-content;
    background-color: #242424 !important;
    color: aliceblue !important;
    margin: 80px auto;
}

/* Hamburger button */
.hamburger {
    display: none;
    position: fixed;
    top: 25px;
    right: 25px;
    width: 35px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    display: block;
    height: 4px;
    background: white;
    margin: 6px 0;
    transition: 0.3s;
}

/* Mobile nav menu */
.mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    transition: 0.3s;
    z-index: 999;
}

.mobile-nav a {
    color: lightgray;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px solid #444;
    font-family: 'Oswald-Medium';
}

.mobile-nav a:hover {
    background-color: #2c2c2c;
}

/* Active menu */
.mobile-nav.active {
    right: 0;
}

/* Hamburger animation (X) */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}


@media (max-width: 860px){

    section{
        margin: auto;
        width: 94%;
        height: fit-content;
        top: 70px;
    }


    header .low{
        display: none;
    }

    header .top{
        display: none;
    }

          header .low,
    header .top {
        display: none;
    }

    .hamburger {
        display: block;
    }



}

@media (min-width: 1330px) and (max-width: 1554px){


    .header{
    padding: 20px 40px;
    }

    .top h1{
    font-size: 40px;
    }

    .wowlogo img{
    height: 55px;
    }

    .low ul{
    gap: 70px;
    flex-wrap: nowrap;
    }

    .low a{
    padding: 17px 100px;
    border: 3px solid rgb(116, 116, 116);
    font-size: 20px;
    }

    section{
    width: 84%;
    height: fit-content;
    left: 0;
    right: 0;
    top: 260px;
    bottom: 0;
    margin: auto;
    }


}

@media (min-width: 1100px) and (max-width: 1329px){


    .header{
    padding: 20px 30px;
    }

    .top h1{
    font-size: 35px;
    }

    .wowlogo img{
    height: 50px;
    }

    .low ul{
    gap: 50px;
    flex-wrap: nowrap;
    }

    .low a{
    padding: 17px 70px;
    border: 3px solid rgb(116, 116, 116);
    font-size: 20px;
    }

    section{
    width: 88%;
    height: fit-content;
    left: 0;
    right: 0;
    top: 260px;
    bottom: 0;
    margin: auto;
    }


}

@media (min-width: 940px) and (max-width: 1099px){


    .header{
    padding: 14px 30px;
    }

    .top h1{
    font-size: 25px;
    }

    .wowlogo img{
    height: 40px;
    }

    .low ul{
    gap: 30px;
    flex-wrap: nowrap;
    }

    .low a{
    padding: 17px 50px;
    border: 3px solid rgb(116, 116, 116);
    font-size: 20px;
    }

    section{
    width: 94%;
    height: fit-content;
    left: 0;
    right: 0;
    top: 260px;
    bottom: 0;
    margin: auto;
    }


}

@media (min-width: 861px) and (max-width: 939px){


    .header{
    padding: 14px 30px;
    }

    .top h1{
    font-size: 25px;
    }

    .wowlogo img{
    height: 40px;
    }

    .low ul{
    gap: 30px;
    flex-wrap: nowrap;
    }

    .low a{
    padding: 17px 50px;
    border: 3px solid rgb(116, 116, 116);
    font-size: 20px;
    }

    section{
    width: 94%;
    height: fit-content;
    left: 0;
    right: 0;
    top: 260px;
    bottom: 0;
    margin: auto;
    }


}
